<Type Name="MultiClassClassifierScorer+LabelNameBindableMapper" FullName="Microsoft.ML.Data.MultiClassClassifierScorer+LabelNameBindableMapper">
  <TypeSignature Language="C#" Value="public sealed class MultiClassClassifierScorer.LabelNameBindableMapper : Microsoft.ML.Model.ICanSaveModel" />
  <TypeSignature Language="ILAsm" Value=".class nested public auto ansi sealed beforefieldinit MultiClassClassifierScorer/LabelNameBindableMapper extends System.Object implements class Microsoft.ML.Model.ICanSaveModel" />
  <TypeSignature Language="DocId" Value="T:Microsoft.ML.Data.MultiClassClassifierScorer.LabelNameBindableMapper" />
  <TypeSignature Language="VB.NET" Value="Public NotInheritable Class MultiClassClassifierScorer.LabelNameBindableMapper&#xA;Implements ICanSaveModel" />
  <TypeSignature Language="F#" Value="type MultiClassClassifierScorer.LabelNameBindableMapper = class&#xA;    interface ICanSaveModel" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.ML.Data</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces>
    <Interface>
      <InterfaceName>Microsoft.ML.Model.ICanSaveModel</InterfaceName>
    </Interface>
  </Interfaces>
  <Docs>
    <summary>
            This bindable mapper facilitates the serialization and rebinding of the special bound
            mapper that attaches the label metadata to the slot names of the output score column.
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="LoaderSignature">
      <MemberSignature Language="C#" Value="public const string LoaderSignature;" />
      <MemberSignature Language="ILAsm" Value=".field public static literal string LoaderSignature" />
      <MemberSignature Language="DocId" Value="F:Microsoft.ML.Data.MultiClassClassifierScorer.LabelNameBindableMapper.LoaderSignature" />
      <MemberSignature Language="VB.NET" Value="Public Const LoaderSignature As String " />
      <MemberSignature Language="F#" Value="val mutable LoaderSignature : string" Usage="Microsoft.ML.Data.MultiClassClassifierScorer.LabelNameBindableMapper.LoaderSignature" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.ML.Data</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Save">
      <MemberSignature Language="C#" Value="public void Save (Microsoft.ML.Model.ModelSaveContext ctx);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void Save(class Microsoft.ML.Model.ModelSaveContext ctx) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.ML.Data.MultiClassClassifierScorer.LabelNameBindableMapper.Save(Microsoft.ML.Model.ModelSaveContext)" />
      <MemberSignature Language="VB.NET" Value="Public Sub Save (ctx As ModelSaveContext)" />
      <MemberSignature Language="F#" Value="abstract member Save : Microsoft.ML.Model.ModelSaveContext -&gt; unit&#xA;override this.Save : Microsoft.ML.Model.ModelSaveContext -&gt; unit" Usage="labelNameBindableMapper.Save ctx" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:Microsoft.ML.Model.ICanSaveModel.Save(Microsoft.ML.Model.ModelSaveContext)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Microsoft.ML.Data</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="ctx" Type="Microsoft.ML.Model.ModelSaveContext" />
      </Parameters>
      <Docs>
        <param name="ctx">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Type">
      <MemberSignature Language="C#" Value="public Microsoft.ML.Data.VectorType Type { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.ML.Data.VectorType Type" />
      <MemberSignature Language="DocId" Value="P:Microsoft.ML.Data.MultiClassClassifierScorer.LabelNameBindableMapper.Type" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property Type As VectorType" />
      <MemberSignature Language="F#" Value="member this.Type : Microsoft.ML.Data.VectorType" Usage="Microsoft.ML.Data.MultiClassClassifierScorer.LabelNameBindableMapper.Type" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.ML.Data</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.ML.Data.VectorType</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>