<Type Name="SignatureLoadRowMapper" FullName="Microsoft.ML.Data.SignatureLoadRowMapper">
  <TypeSignature Language="C#" Value="public delegate void SignatureLoadRowMapper(ModelLoadContext ctx, Schema schema);" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi sealed SignatureLoadRowMapper extends System.MulticastDelegate" />
  <TypeSignature Language="DocId" Value="T:Microsoft.ML.Data.SignatureLoadRowMapper" />
  <TypeSignature Language="VB.NET" Value="Public Delegate Sub SignatureLoadRowMapper(ctx As ModelLoadContext, schema As Schema)" />
  <TypeSignature Language="F#" Value="type SignatureLoadRowMapper = delegate of ModelLoadContext * Schema -&gt; unit" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.ML.Data</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Delegate</BaseTypeName>
  </Base>
  <Parameters>
    <Parameter Name="ctx" Type="Microsoft.ML.Model.ModelLoadContext" />
    <Parameter Name="schema" Type="Microsoft.ML.Data.Schema" />
  </Parameters>
  <ReturnValue>
    <ReturnType>System.Void</ReturnType>
  </ReturnValue>
  <Docs>
    <param name="ctx">To be added.</param>
    <param name="schema">To be added.</param>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
</Type>