<Type Name="IQuantileValueMapper" FullName="Microsoft.ML.Runtime.Internal.Internallearn.IQuantileValueMapper">
  <TypeSignature Language="C#" Value="public interface IQuantileValueMapper" />
  <TypeSignature Language="ILAsm" Value=".class public interface auto ansi abstract IQuantileValueMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.ML.Runtime.Internal.Internallearn.IQuantileValueMapper" />
  <TypeSignature Language="VB.NET" Value="Public Interface IQuantileValueMapper" />
  <TypeSignature Language="F#" Value="type IQuantileValueMapper = interface" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.ML.Data</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Interfaces />
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="GetMapper">
      <MemberSignature Language="C#" Value="public Microsoft.ML.Runtime.Data.ValueMapper&lt;Microsoft.ML.Runtime.Data.VBuffer&lt;float&gt;,Microsoft.ML.Runtime.Data.VBuffer&lt;float&gt;&gt; GetMapper (float[] quantiles);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class Microsoft.ML.Runtime.Data.ValueMapper`2&lt;valuetype Microsoft.ML.Runtime.Data.VBuffer`1&lt;float32&gt;, valuetype Microsoft.ML.Runtime.Data.VBuffer`1&lt;float32&gt;&gt; GetMapper(float32[] quantiles) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.ML.Runtime.Internal.Internallearn.IQuantileValueMapper.GetMapper(System.Single[])" />
      <MemberSignature Language="VB.NET" Value="Public Function GetMapper (quantiles As Single()) As ValueMapper(Of VBuffer(Of Single), VBuffer(Of Single))" />
      <MemberSignature Language="F#" Value="abstract member GetMapper : single[] -&gt; Microsoft.ML.Runtime.Data.ValueMapper&lt;Microsoft.ML.Runtime.Data.VBuffer&lt;single&gt;, Microsoft.ML.Runtime.Data.VBuffer&lt;single&gt;&gt;" Usage="iQuantileValueMapper.GetMapper quantiles" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.ML.Data</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.ML.Runtime.Data.ValueMapper&lt;Microsoft.ML.Runtime.Data.VBuffer&lt;System.Single&gt;,Microsoft.ML.Runtime.Data.VBuffer&lt;System.Single&gt;&gt;</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="quantiles" Type="System.Single[]" />
      </Parameters>
      <Docs>
        <param name="quantiles">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>