<Type Name="IRowMapper" FullName="Microsoft.ML.Runtime.Data.IRowMapper">
  <TypeSignature Language="C#" Value="public interface IRowMapper : Microsoft.ML.Runtime.Model.ICanSaveModel" />
  <TypeSignature Language="ILAsm" Value=".class public interface auto ansi abstract IRowMapper implements class Microsoft.ML.Runtime.Model.ICanSaveModel" />
  <TypeSignature Language="DocId" Value="T:Microsoft.ML.Runtime.Data.IRowMapper" />
  <TypeSignature Language="VB.NET" Value="Public Interface IRowMapper&#xA;Implements ICanSaveModel" />
  <TypeSignature Language="F#" Value="type IRowMapper = interface&#xA;    interface ICanSaveModel" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.ML.Data</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Interfaces>
    <Interface>
      <InterfaceName>Microsoft.ML.Runtime.Model.ICanSaveModel</InterfaceName>
    </Interface>
  </Interfaces>
  <Docs>
    <summary>
            This interface is used to create a <see cref="T:Microsoft.ML.Runtime.Data.RowToRowMapperTransform" />.
            Implementations should be given an <see cref="T:Microsoft.ML.Runtime.Data.ISchema" /> in their constructor, and should have a
            ctor or Create method with <see cref="T:Microsoft.ML.Runtime.Data.SignatureLoadRowMapper" />, along with a corresponding
            <see cref="T:Microsoft.ML.Runtime.LoadableClassAttribute" />.
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="CreateGetters">
      <MemberSignature Language="C#" Value="public Delegate[] CreateGetters (Microsoft.ML.Runtime.Data.IRow input, Func&lt;int,bool&gt; activeOutput, out Action disposer);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Delegate[] CreateGetters(class Microsoft.ML.Runtime.Data.IRow input, class System.Func`2&lt;int32, bool&gt; activeOutput, [out] class System.Action&amp; disposer) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.ML.Runtime.Data.IRowMapper.CreateGetters(Microsoft.ML.Runtime.Data.IRow,System.Func{System.Int32,System.Boolean},System.Action@)" />
      <MemberSignature Language="VB.NET" Value="Public Function CreateGetters (input As IRow, activeOutput As Func(Of Integer, Boolean), ByRef disposer As Action) As Delegate()" />
      <MemberSignature Language="F#" Value="abstract member CreateGetters : Microsoft.ML.Runtime.Data.IRow * Func&lt;int, bool&gt; *  -&gt; Delegate[]" Usage="iRowMapper.CreateGetters (input, activeOutput, disposer)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.ML.Data</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Delegate[]</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="input" Type="Microsoft.ML.Runtime.Data.IRow" />
        <Parameter Name="activeOutput" Type="System.Func&lt;System.Int32,System.Boolean&gt;" />
        <Parameter Name="disposer" Type="System.Action" RefType="out" />
      </Parameters>
      <Docs>
        <param name="input">To be added.</param>
        <param name="activeOutput">To be added.</param>
        <param name="disposer">To be added.</param>
        <summary>
            Returns the getters for the output columns given an active set of output columns. The length of the getters
            array should be equal to the number of columns added by the IRowMapper. It should contain the getter for the
            i'th output column if activeOutput(i) is true, and null otherwise.
            </summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetDependencies">
      <MemberSignature Language="C#" Value="public Func&lt;int,bool&gt; GetDependencies (Func&lt;int,bool&gt; activeOutput);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Func`2&lt;int32, bool&gt; GetDependencies(class System.Func`2&lt;int32, bool&gt; activeOutput) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.ML.Runtime.Data.IRowMapper.GetDependencies(System.Func{System.Int32,System.Boolean})" />
      <MemberSignature Language="VB.NET" Value="Public Function GetDependencies (activeOutput As Func(Of Integer, Boolean)) As Func(Of Integer, Boolean)" />
      <MemberSignature Language="F#" Value="abstract member GetDependencies : Func&lt;int, bool&gt; -&gt; Func&lt;int, bool&gt;" Usage="iRowMapper.GetDependencies activeOutput" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.ML.Data</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Func&lt;System.Int32,System.Boolean&gt;</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="activeOutput" Type="System.Func&lt;System.Int32,System.Boolean&gt;" />
      </Parameters>
      <Docs>
        <param name="activeOutput">To be added.</param>
        <summary>
            Returns the input columns needed for the requested output columns.
            </summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetOutputColumns">
      <MemberSignature Language="C#" Value="public Microsoft.ML.Runtime.Data.Schema.Column[] GetOutputColumns ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class Microsoft.ML.Runtime.Data.Schema/Column[] GetOutputColumns() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.ML.Runtime.Data.IRowMapper.GetOutputColumns" />
      <MemberSignature Language="VB.NET" Value="Public Function GetOutputColumns () As Schema.Column()" />
      <MemberSignature Language="F#" Value="abstract member GetOutputColumns : unit -&gt; Microsoft.ML.Runtime.Data.Schema.Column[]" Usage="iRowMapper.GetOutputColumns " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.ML.Data</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.ML.Runtime.Data.Schema+Column[]</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>
            Returns information about the output columns, including their name, type and any metadata information.
            </summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>