<Type Name="ISchemaBoundMapper" FullName="Microsoft.ML.Runtime.Data.ISchemaBoundMapper">
  <TypeSignature Language="C#" Value="public interface ISchemaBoundMapper" />
  <TypeSignature Language="ILAsm" Value=".class public interface auto ansi abstract ISchemaBoundMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.ML.Runtime.Data.ISchemaBoundMapper" />
  <TypeSignature Language="VB.NET" Value="Public Interface ISchemaBoundMapper" />
  <TypeSignature Language="F#" Value="type ISchemaBoundMapper = interface" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.ML.Core</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Interfaces></Interfaces>
  <Docs>
    <summary>
            This interface is used to map a schema from input columns to output columns. The <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBoundMapper" /> should keep track
            of the input columns that are needed for the mapping.
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="Bindable">
      <MemberSignature Language="C#" Value="public Microsoft.ML.Runtime.Data.ISchemaBindableMapper Bindable { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.ML.Runtime.Data.ISchemaBindableMapper Bindable" />
      <MemberSignature Language="DocId" Value="P:Microsoft.ML.Runtime.Data.ISchemaBoundMapper.Bindable" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property Bindable As ISchemaBindableMapper" />
      <MemberSignature Language="F#" Value="member this.Bindable : Microsoft.ML.Runtime.Data.ISchemaBindableMapper" Usage="Microsoft.ML.Runtime.Data.ISchemaBoundMapper.Bindable" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.ML.Core</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.ML.Runtime.Data.ISchemaBindableMapper</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            A property to get back the <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBindableMapper" /> that produced this <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBoundMapper" />.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetInputColumnRoles">
      <MemberSignature Language="C#" Value="public System.Collections.Generic.IEnumerable&lt;System.Collections.Generic.KeyValuePair&lt;Microsoft.ML.Runtime.Data.RoleMappedSchema.ColumnRole,string&gt;&gt; GetInputColumnRoles ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Collections.Generic.IEnumerable`1&lt;valuetype System.Collections.Generic.KeyValuePair`2&lt;valuetype Microsoft.ML.Runtime.Data.RoleMappedSchema/ColumnRole, string&gt;&gt; GetInputColumnRoles() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.ML.Runtime.Data.ISchemaBoundMapper.GetInputColumnRoles" />
      <MemberSignature Language="VB.NET" Value="Public Function GetInputColumnRoles () As IEnumerable(Of KeyValuePair(Of RoleMappedSchema.ColumnRole, String))" />
      <MemberSignature Language="F#" Value="abstract member GetInputColumnRoles : unit -&gt; seq&lt;System.Collections.Generic.KeyValuePair&lt;Microsoft.ML.Runtime.Data.RoleMappedSchema.ColumnRole, string&gt;&gt;" Usage="iSchemaBoundMapper.GetInputColumnRoles " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.ML.Core</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.IEnumerable&lt;System.Collections.Generic.KeyValuePair&lt;Microsoft.ML.Runtime.Data.RoleMappedSchema+ColumnRole,System.String&gt;&gt;</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>
            This method returns the binding information: which input columns are used and in what roles.
            </summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="InputRoleMappedSchema">
      <MemberSignature Language="C#" Value="public Microsoft.ML.Runtime.Data.RoleMappedSchema InputRoleMappedSchema { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.ML.Runtime.Data.RoleMappedSchema InputRoleMappedSchema" />
      <MemberSignature Language="DocId" Value="P:Microsoft.ML.Runtime.Data.ISchemaBoundMapper.InputRoleMappedSchema" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property InputRoleMappedSchema As RoleMappedSchema" />
      <MemberSignature Language="F#" Value="member this.InputRoleMappedSchema : Microsoft.ML.Runtime.Data.RoleMappedSchema" Usage="Microsoft.ML.Runtime.Data.ISchemaBoundMapper.InputRoleMappedSchema" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.ML.Core</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.ML.Runtime.Data.RoleMappedSchema</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The <see cref="T:Microsoft.ML.Runtime.Data.RoleMappedSchema" /> that was passed to the <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBoundMapper" /> in the binding process.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="OutputSchema">
      <MemberSignature Language="C#" Value="public Microsoft.ML.Data.Schema OutputSchema { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.ML.Data.Schema OutputSchema" />
      <MemberSignature Language="DocId" Value="P:Microsoft.ML.Runtime.Data.ISchemaBoundMapper.OutputSchema" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property OutputSchema As Schema" />
      <MemberSignature Language="F#" Value="member this.OutputSchema : Microsoft.ML.Data.Schema" Usage="Microsoft.ML.Runtime.Data.ISchemaBoundMapper.OutputSchema" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.ML.Core</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.ML.Data.Schema</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets schema of this mapper's output.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>