<Type Name="ISchemaBindableMapper" FullName="Microsoft.ML.Runtime.Data.ISchemaBindableMapper">
  <TypeSignature Language="C#" Value="public interface ISchemaBindableMapper" />
  <TypeSignature Language="ILAsm" Value=".class public interface auto ansi abstract ISchemaBindableMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.ML.Runtime.Data.ISchemaBindableMapper" />
  <TypeSignature Language="VB.NET" Value="Public Interface ISchemaBindableMapper" />
  <TypeSignature Language="F#" Value="type ISchemaBindableMapper = interface" />
  <TypeSignature Language="C++ CLI" Value="public interface class ISchemaBindableMapper" />
  <TypeSignature Language="C++ CX" Value="public interface class ISchemaBindableMapper" />
  <TypeSignature Language="C++ WINRT" Value="__interface ISchemaBindableMapper" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.ML.Core</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Interfaces />
  <Docs>
    <summary>
            A mapper that can be bound to a <see cref="T:Microsoft.ML.Runtime.Data.RoleMappedSchema" /> (which is an ISchema, with mappings from column kinds
            to columns). Binding an <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBindableMapper" /> to a <see cref="T:Microsoft.ML.Runtime.Data.RoleMappedSchema" /> produces an 
            <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBoundMapper" />, which is an interface that has methods to return the names and indices of the input columns
            needed by the mapper to compute its output. The <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBoundRowMapper" /> is an extention to this interface, that
            can also produce an output IRow given an input IRow. The IRow produced generally contains only the output columns of the mapper, and not 
            the input columns (but there is nothing preventing an <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBoundRowMapper" /> from mapping input columns directly to outputs).
            This interface is implemented by wrappers of IValueMapper based predictors, which are predictors that take a single 
            features column. New predictors can implement <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBindableMapper" /> directly. Implementing <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBindableMapper" />
            includes implementing a corresponding <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBoundMapper" /> (or <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBoundRowMapper" />) and a corresponding ISchema
            for the output schema of the <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBoundMapper" />. In case the <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBoundRowMapper" /> interface is implemented, 
            the SimpleRow class can be used in the <see cref="M:Microsoft.ML.Runtime.Data.ISchemaBoundRowMapper.GetOutputRow(Microsoft.ML.Runtime.Data.IRow,System.Func{System.Int32,System.Boolean},System.Action@)" /> method.
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="Bind">
      <MemberSignature Language="C#" Value="public Microsoft.ML.Runtime.Data.ISchemaBoundMapper Bind (Microsoft.ML.Runtime.IHostEnvironment env, Microsoft.ML.Runtime.Data.RoleMappedSchema schema);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class Microsoft.ML.Runtime.Data.ISchemaBoundMapper Bind(class Microsoft.ML.Runtime.IHostEnvironment env, class Microsoft.ML.Runtime.Data.RoleMappedSchema schema) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.ML.Runtime.Data.ISchemaBindableMapper.Bind(Microsoft.ML.Runtime.IHostEnvironment,Microsoft.ML.Runtime.Data.RoleMappedSchema)" />
      <MemberSignature Language="VB.NET" Value="Public Function Bind (env As IHostEnvironment, schema As RoleMappedSchema) As ISchemaBoundMapper" />
      <MemberSignature Language="F#" Value="abstract member Bind : Microsoft.ML.Runtime.IHostEnvironment * Microsoft.ML.Runtime.Data.RoleMappedSchema -&gt; Microsoft.ML.Runtime.Data.ISchemaBoundMapper" Usage="iSchemaBindableMapper.Bind (env, schema)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Microsoft::ML::Runtime::Data::ISchemaBoundMapper ^ Bind(Microsoft::ML::Runtime::IHostEnvironment ^ env, Microsoft::ML::Runtime::Data::RoleMappedSchema ^ schema);" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; Microsoft::ML::Runtime::Data::ISchemaBoundMapper ^ Bind(Microsoft::ML::Runtime::IHostEnvironment ^ env, Microsoft::ML::Runtime::Data::RoleMappedSchema ^ schema);" />
      <MemberSignature Language="C++ WINRT" Value="Microsoft::ML::Runtime::Data::ISchemaBoundMapper Bind(Microsoft::ML::Runtime::IHostEnvironment const &amp; env, Microsoft::ML::Runtime::Data::RoleMappedSchema const &amp; schema);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.ML.Core</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.ML.Runtime.Data.ISchemaBoundMapper</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="env" Type="Microsoft.ML.Runtime.IHostEnvironment" />
        <Parameter Name="schema" Type="Microsoft.ML.Runtime.Data.RoleMappedSchema" />
      </Parameters>
      <Docs>
        <param name="env">To be added.</param>
        <param name="schema">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>