<Type Name="ISchemaBoundRowMapper" FullName="Microsoft.ML.Runtime.Data.ISchemaBoundRowMapper">
  <TypeSignature Language="C#" Value="public interface ISchemaBoundRowMapper : Microsoft.ML.Runtime.Data.IRowToRowMapper, Microsoft.ML.Runtime.Data.ISchemaBoundMapper" />
  <TypeSignature Language="ILAsm" Value=".class public interface auto ansi abstract ISchemaBoundRowMapper implements class Microsoft.ML.Runtime.Data.IRowToRowMapper, class Microsoft.ML.Runtime.Data.ISchemaBoundMapper, class Microsoft.ML.Runtime.Data.ISchematized" />
  <TypeSignature Language="DocId" Value="T:Microsoft.ML.Runtime.Data.ISchemaBoundRowMapper" />
  <TypeSignature Language="VB.NET" Value="Public Interface ISchemaBoundRowMapper&#xA;Implements IRowToRowMapper, ISchemaBoundMapper" />
  <TypeSignature Language="F#" Value="type ISchemaBoundRowMapper = interface&#xA;    interface ISchemaBoundMapper&#xA;    interface ISchematized&#xA;    interface IRowToRowMapper" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.ML.Core</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Interfaces>
    <Interface>
      <InterfaceName>Microsoft.ML.Runtime.Data.IRowToRowMapper</InterfaceName>
    </Interface>
    <Interface>
      <InterfaceName>Microsoft.ML.Runtime.Data.ISchemaBoundMapper</InterfaceName>
    </Interface>
    <Interface>
      <InterfaceName>Microsoft.ML.Runtime.Data.ISchematized</InterfaceName>
    </Interface>
  </Interfaces>
  <Docs>
    <summary>
            This interface combines <see cref="T:Microsoft.ML.Runtime.Data.ISchemaBoundMapper" /> with <see cref="T:Microsoft.ML.Runtime.Data.IRowToRowMapper" />.
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members></Members>
</Type>