<Type Name="LambdaColumnMapper" FullName="Microsoft.ML.Runtime.Data.LambdaColumnMapper">
  <TypeSignature Language="C#" Value="public static class LambdaColumnMapper" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi abstract sealed beforefieldinit LambdaColumnMapper extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Microsoft.ML.Runtime.Data.LambdaColumnMapper" />
  <TypeSignature Language="VB.NET" Value="Public Class LambdaColumnMapper" />
  <TypeSignature Language="F#" Value="type LambdaColumnMapper = class" />
  <TypeSignature Language="C++ CLI" Value="public ref class LambdaColumnMapper abstract sealed" />
  <TypeSignature Language="C++ CX" Value="public ref class LambdaColumnMapper abstract sealed" />
  <TypeSignature Language="C++ WINRT" Value="class LambdaColumnMapper abstract sealed" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.ML.Data</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            This applies the user provided ValueMapper to a column to produce a new column. It automatically
            injects a standard conversion from the actual type of the source column to typeSrc (if needed).
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="Create&lt;TSrc,TDst&gt;">
      <MemberSignature Language="C#" Value="public static Microsoft.ML.Runtime.Data.IDataView Create&lt;TSrc,TDst&gt; (Microsoft.ML.Runtime.IHostEnvironment env, string name, Microsoft.ML.Runtime.Data.IDataView input, string src, string dst, Microsoft.ML.Runtime.Data.ColumnType typeSrc, Microsoft.ML.Runtime.Data.ColumnType typeDst, Microsoft.ML.Runtime.Data.ValueMapper&lt;TSrc,TDst&gt; mapper, Microsoft.ML.Runtime.Data.ValueGetter&lt;Microsoft.ML.Runtime.Data.VBuffer&lt;Microsoft.ML.Runtime.Data.DvText&gt;&gt; keyValueGetter = null, Microsoft.ML.Runtime.Data.ValueGetter&lt;Microsoft.ML.Runtime.Data.VBuffer&lt;Microsoft.ML.Runtime.Data.DvText&gt;&gt; slotNamesGetter = null);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig class Microsoft.ML.Runtime.Data.IDataView Create&lt;TSrc, TDst&gt;(class Microsoft.ML.Runtime.IHostEnvironment env, string name, class Microsoft.ML.Runtime.Data.IDataView input, string src, string dst, class Microsoft.ML.Runtime.Data.ColumnType typeSrc, class Microsoft.ML.Runtime.Data.ColumnType typeDst, class Microsoft.ML.Runtime.Data.ValueMapper`2&lt;!!TSrc, !!TDst&gt; mapper, class Microsoft.ML.Runtime.Data.ValueGetter`1&lt;valuetype Microsoft.ML.Runtime.Data.VBuffer`1&lt;valuetype Microsoft.ML.Runtime.Data.DvText&gt;&gt; keyValueGetter, class Microsoft.ML.Runtime.Data.ValueGetter`1&lt;valuetype Microsoft.ML.Runtime.Data.VBuffer`1&lt;valuetype Microsoft.ML.Runtime.Data.DvText&gt;&gt; slotNamesGetter) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.ML.Runtime.Data.LambdaColumnMapper.Create``2(Microsoft.ML.Runtime.IHostEnvironment,System.String,Microsoft.ML.Runtime.Data.IDataView,System.String,System.String,Microsoft.ML.Runtime.Data.ColumnType,Microsoft.ML.Runtime.Data.ColumnType,Microsoft.ML.Runtime.Data.ValueMapper{``0,``1},Microsoft.ML.Runtime.Data.ValueGetter{Microsoft.ML.Runtime.Data.VBuffer{Microsoft.ML.Runtime.Data.DvText}},Microsoft.ML.Runtime.Data.ValueGetter{Microsoft.ML.Runtime.Data.VBuffer{Microsoft.ML.Runtime.Data.DvText}})" />
      <MemberSignature Language="VB.NET" Value="Public Shared Function Create(Of TSrc, TDst) (env As IHostEnvironment, name As String, input As IDataView, src As String, dst As String, typeSrc As ColumnType, typeDst As ColumnType, mapper As ValueMapper(Of TSrc, TDst), Optional keyValueGetter As ValueGetter(Of VBuffer(Of DvText)) = null, Optional slotNamesGetter As ValueGetter(Of VBuffer(Of DvText)) = null) As IDataView" />
      <MemberSignature Language="F#" Value="static member Create : Microsoft.ML.Runtime.IHostEnvironment * string * Microsoft.ML.Runtime.Data.IDataView * string * string * Microsoft.ML.Runtime.Data.ColumnType * Microsoft.ML.Runtime.Data.ColumnType * Microsoft.ML.Runtime.Data.ValueMapper&lt;'Src, 'Dst&gt; * Microsoft.ML.Runtime.Data.ValueGetter&lt;Microsoft.ML.Runtime.Data.VBuffer&lt;Microsoft.ML.Runtime.Data.DvText&gt;&gt; * Microsoft.ML.Runtime.Data.ValueGetter&lt;Microsoft.ML.Runtime.Data.VBuffer&lt;Microsoft.ML.Runtime.Data.DvText&gt;&gt; -&gt; Microsoft.ML.Runtime.Data.IDataView" Usage="Microsoft.ML.Runtime.Data.LambdaColumnMapper.Create (env, name, input, src, dst, typeSrc, typeDst, mapper, keyValueGetter, slotNamesGetter)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.ML.Data</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.ML.Runtime.Data.IDataView</ReturnType>
      </ReturnValue>
      <TypeParameters>
        <TypeParameter Name="TSrc" />
        <TypeParameter Name="TDst" />
      </TypeParameters>
      <Parameters>
        <Parameter Name="env" Type="Microsoft.ML.Runtime.IHostEnvironment" />
        <Parameter Name="name" Type="System.String" />
        <Parameter Name="input" Type="Microsoft.ML.Runtime.Data.IDataView" />
        <Parameter Name="src" Type="System.String" />
        <Parameter Name="dst" Type="System.String" />
        <Parameter Name="typeSrc" Type="Microsoft.ML.Runtime.Data.ColumnType" />
        <Parameter Name="typeDst" Type="Microsoft.ML.Runtime.Data.ColumnType" />
        <Parameter Name="mapper" Type="Microsoft.ML.Runtime.Data.ValueMapper&lt;TSrc,TDst&gt;" />
        <Parameter Name="keyValueGetter" Type="Microsoft.ML.Runtime.Data.ValueGetter&lt;Microsoft.ML.Runtime.Data.VBuffer&lt;Microsoft.ML.Runtime.Data.DvText&gt;&gt;" />
        <Parameter Name="slotNamesGetter" Type="Microsoft.ML.Runtime.Data.ValueGetter&lt;Microsoft.ML.Runtime.Data.VBuffer&lt;Microsoft.ML.Runtime.Data.DvText&gt;&gt;" />
      </Parameters>
      <Docs>
        <typeparam name="TSrc">To be added.</typeparam>
        <typeparam name="TDst">To be added.</typeparam>
        <param name="env">To be added.</param>
        <param name="name">To be added.</param>
        <param name="input">To be added.</param>
        <param name="src">To be added.</param>
        <param name="dst">To be added.</param>
        <param name="typeSrc">To be added.</param>
        <param name="typeDst">To be added.</param>
        <param name="mapper">To be added.</param>
        <param name="keyValueGetter">To be added.</param>
        <param name="slotNamesGetter">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>